= simple_form_for(@location) do |f|
  = f.error_notification

  .form-inputs
    = f.association :provider
    = f.input :address
    = f.input :service_time
    = f.input :lng
    = f.input :lat
    = f.input :street_number
    = f.input :local_political
    = f.input :sublocality_political
    = f.input :route
    = f.input :administrative_area_level_1_political
    = f.input :administrative_area_level_2_political
    = f.input :name
    = f.input :type

  .form-actions
    = f.button :submit
